<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
	<div class="bgbody">
		<img src="../img/yo.jpg">
	</div>
	<div class="wrapper">
    	<div class="header">
			<div class="container-fluid">
       			<div class="row">
          			<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 top100">
            			<div class="panel panelogin">
              				<div class="panel-body">
                				<h2 class="text-center text-light">Chatrize</h2>
                				<h3 class="text-light">Entrar</h3>
                				<form action="/logar" method="POST">
                  					<input class="form-control" type="text" name="nome" placeholder="Usuário" autofocus>
                  					<input class="form-control" type="password" name="senha" placeholder="Senha">
                  					<button class="btn btn-warning btn-block" id="btnEntrar">Entrar</button>
                				</form>
                				<a href="/cadastro">
                  					<button class="btn btn-simple btn-warning">Cadastrar</button>
                				</a>
				            </div>
						</div>
          			</div>
        		</div>
      		</div>
		</div>
	</div>
</body>
</html>