<!DOCTYPE html>
<html>
<head>
    <%- include('head') %>
</head>
<body>
    <div class="bgbody">
		<img src="../img/yo.jpg">
	</div>
    <div class="wrapper">
    	<div class="header">
			<div class="container-fluid">
       			<div class="row">
                    <div class="col">
                        <div class="panel panelogin">
                            <div class="panel-body">
                                <h2 class="text-center text-light">404 - Não encontrado</h2>
                                <h3 class="text-center text-light">
                                    <a href="/">
                                        <button class="btn">inicio</button>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>