<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
	<div class="bgbody">
	    <img src="../img/yo.jpg">
	</div>
	<div class="wrapper">
    	<div class="header">
			<div class="container-fluid">
       			<div class="row">
                    <div class="col col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 top25 nopadding-xs">
                        <div class="panel header">
                            <div class="panel-body">
                                <h3 class="text-light">
                                    <div class="pull-left">
                                        Sala de todos
                                    </div>
                                    <div class="pull-right">
                                        <a href="/sair">
                                            <button class="btn btn-primary btn-just-icon btn-round">
                                            <i class="material-icons">exit_to_app</i>
                                            </button>
                                        </a>
                                    </div>
                                </h3>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-yellow">
                            <li class="active">
                                <a data-toggle="tab" href="#perfil">Mensagem</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#produtos">Conectados</a>
                            </li>
                        </ul>

                        <div class="panel conversas">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="perfil" class="tab-pane fade in active">
                                        <ul id="mensagens"></ul>
                                        <form id="paneMensagem">
                                            <input type="text" class="form-control" name="txtMensagem" id="txtMensagem" placeholder="Digite uma mensagem" autocomplete="off">
                                        </form>
                                    </div>

                                    <div id="produtos" class="tab-pane fade">
                                        <ul id="pessoasOnline"></ul>
                                    </div>

                                    <div id="comanda" class="tab-pane fade">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        		</div>
      		</div>
		</div>
	</div>
</body>
</html>